.main-banner {
    width: 100%;
    background-color: rgb(245, 209, 70);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.main-banner-text {
    font-family: 'Passion One', cursive;
    color: white;
    font-size: 2rem;    
}

.main-spacer{
    width: 100%;
    background-color: rgb(245, 209, 70);
    height: 80px;
}